<!DOCTYPE html>
<html>
<head>
  <title>ActsAsStarrable</title>
  <%= stylesheet_link_tag    "acts_as_starrable/application", :media => "all" %>
  <%= javascript_include_tag "acts_as_starrable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
